.product-edit-container .dokan-w12, .product-edit-container .dokan-w5, .row-button {
    margin-left: 60px;
}
.product-edit-container .dokan-w6 {
    margin-left: 30px;
}
.product-edit-container.row-1 .dokan-w12 h2 {
    margin-top: -5px;
    margin-bottom: 40px;
}
.product-edit-container.row-1 .dokan-w12 .dokan-feat-image-upload {
    width: 100%;
    border: 7px dashed #DDDDDD;
    overflow: visible;
}
.product-edit-container.row-1 .dokan-w12 .dokan-feat-image-upload .image-wrap {
    width: 10%;
    border: 2px solid #DDDDDD;
    margin-top: 210px;
}
.row-button  .image-wrap {
    width: 10%;
    border: 2px solid #DDDDDD;
    margin-top: 10px;
}
.row-button  .image-wrap a {
    display: none;
}
.row-button  .image-wrap img {
    width: 100%;
}
.product-edit-container.row-1 .dokan-feat-image-upload a.close {
    background: none;
    color: #bbb;
    font-size: 25px;
    height: 15px;
    opacity: 0.7;
    padding: 25% 0;
    position: absolute;
    right: 100;
    left: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    width: 15px;
}
.continue-button {
    margin-top: 100px;
    margin-left: 20px;
    z-index: 99999;
}
.product-edit-container.row-2 {
    margin-top: 15px;
}
.product-edit-container .dokan-w5 .dokan-feat-image-upload-new {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    position: relative;
}
.product-edit-container .dokan-w5 .dokan-feat-image-upload-new img {
    width: 100%;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu {
    background: #fafafa;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li {
    margin: 0;
    border-bottom: none;
    position: relative;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active, .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li:hover, .dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li.active {
    background: none;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a {
    padding: 10px 0 10px 18px;
    display: block;
    color: #8a95a5;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.dokan-dashboard .dokan-dash-sidebar ul.dokan-dashboard-menu li a:hover {
    color: #33383f;
}
.product-edit-container .dokan-list-category-box {
    border: none; 
    background: none; 
    padding: 0px 15px 15px;
    max-height: none; 
    min-height: none; 
    overflow: auto;  
}
.chosen-container {
    width: 100% !important;
}
.dokan-dashboard .dokan-dashboard-content ul li {
    display: block;
}
.label-title {
  margin-bottom: 5.5px;
  /* margin-bottom: .34375rem; */
}
.dokan-dashboard .dokan-dashboard-content ul {
    /*display: inline;*/
}